@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: calc(1rem + 1vw);
  word-break: keep-all;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media print {
  body > *:not(main) {
    display: none;
  }
}

/* swiper */
:root {
  --swiper-pagination-bottom: 0px;
  --swiper-theme-color: #15749d !important;
}
.swiper-button-prev,
.swiper-button-next {
  z-index: 20 !important;
}
.swiper-slide {
  margin: 0 auto;
}
.swiper-slide img {
  display: unset;
}
/* .swiper-pagination {
  transform: translateY(40px) !important;
} */
.swiper {
  overflow: unset !important;
}

/* external links */
[href^='http']:not([href*='naive-ethan-portfolio.vercel.app'])::after {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('https://www.svgrepo.com/show/510970/external-link.svg');
  background-repeat: no-repeat;
  background-position: top 2px center;
  background-size: 100% auto;
  content: '(외부 링크)';
  overflow: hidden;
  white-space: nowrap;
  text-indent: 1em;
}

/* mailto links */
[href^='mail']::after {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('https://www.svgrepo.com/show/511057/mail.svg');
  background-repeat: no-repeat;
  background-position: top 2.5px center;
  background-size: 100% auto;
  content: '(메일 보내기)';
  overflow: hidden;
  white-space: nowrap;
  text-indent: 1em;
}
